{% extends "base.html" %}
{% load static %}

{% block title %}
    <!-- Kyle Chart - Web Developer -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="about-container">
                <div class="row">
                    <div class="col-6">
                        <img alt="" src="" class="">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <h3 class=""><span>NAME</span></h3>
                            <p class="">SMALL BIO</p>
                            <div class="buttons">
                                <a href="" class="" aria-label="">Hire Me</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a class="" href="" target="" rel="nofollow" aria-label="">SOCIALS</a>
                                <a class="" href="" target="" rel="nofollow" aria-label="">SOCIALS</a>
                                <a class="" href="" target="" rel="nofollow" aria-label="">SOCIALS</a>
                                <a class="" href="" target="" rel="nofollow" aria-label="">SOCIALS</a>
                                <a class="" href="" target="" rel="nofollow" aria-label="">SOCIALS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="cv-container overflow-auto"> <!-- Needs max height--> 
                <div class="row">
                    <div class="col-12">
                        <div class="about-me"></div>
                        <div class="skills"></div>
                        <div class="my-services"></div>
                        <div class="work-history"></div>
                        <div class="current-projects"></div>
                        <div class="contact-me"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
