{% extends "base.html" %}
{% load static %}

{% block title %}
    Kyle Chart - Web Developer
{% endblock %}

{% block content %}
<div class="container max-w-screen-2xl">
    <div class="header-container">
        IMAGE/TEXT HERE
    </div>
    <div class="about-container">
        About container
        skills inb circle across screen hover to enlarge maybe
        work exp/projects
    </div>
    <div class="portfolio-container">
        portfolio cards of latest projects/current projects.. Maybe open up to a modal about the project with all links
    </div>
    <div class="work-container">
        Work with me container - What i do/offer.. where to find me... and a contact form etc...
    </div>
</div>
{% endblock %}