/* CORE CSS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    text-decoration: none;
}

ul ,li {
    text-decoration: none;
}

.t-bal {
    text-wrap: balance;
}

.pad-l-5 {
    padding-left: 30px;
}

img {
    max-width: unset;
}

/* CONTAINERS  */

.container {
    padding: 4rem 1rem 0rem 1rem;
    min-height: 95vh;
}

.about-container {
    max-height: 560px;
    padding-top: 3rem;
}

.cv-container {
    min-height: 560px;
    max-height: 560px;
    padding: 1rem;
    border: 1px solid black;
}

/* color:#1a1a1a; */

/* MESSAGES/ALERTS/TOAST */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    /* z-index means that it will always be placed on top of everything if the number is higher than everything else  */
    z-index: 9999999999;
}

.custom-alert {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast-header {
    padding-left: 0.6rem;
    padding-top: 0.6rem;
}

.toast-body {
    padding: 0.6rem;
}

.alert {
    padding: 0;
}

/* CARDS */

.skill-card {
    width: 90px;
    max-height: 120px;
    margin: 5px;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: solid 1px black;
}

/* IMAGES  */

.my-image {
    border-radius: 50%;
    height: 150px;
    width: 180px;
}

.skill-img {
    padding: 5px;
    height: 80px;
    width: 80px;
}